html, body {
  margin: 0;
  padding: 0;
}
canvas{
  border: 2px solid black;
}
h1{
  color:black;
  font-Size:75px;
  text-align: center;
  font-family: 'Apple Chancery', cursive; 
}
p{
  color:rgb(0, 0, 0);
  font-size: 80px;
  font-family: 'Apple Chancery', cursive; 
}